<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014314248447-f2vemfjunn4jeq53fht4actfmtvoh4jv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014314248447-f2vemfjunn4jeq53fht4actfmtvoh4jv</string>
	<key>API_KEY</key>
	<string>AIzaSyBTjSeel_ebfUf1wnPhUFMRZJ-IrjIysKc</string>
	<key>GCM_SENDER_ID</key>
	<string>1014314248447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mactech.foostourney</string>
	<key>PROJECT_ID</key>
	<string>foostourney</string>
	<key>STORAGE_BUCKET</key>
	<string>foostourney.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014314248447:ios:d80dc2fa692acc473704ca</string>
	<key>DATABASE_URL</key>
	<string>https://foostourney.firebaseio.com</string>
</dict>
</plist>